@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Vidaloka);

html, body {
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background-color: #F7F8FA;
    position: fixed;
    width: 100%;
    height: 100%;
}
#map {
    height: 100%;
    -webkit-transition: all ease-in-out 2.5s;
    -moz-transition: all ease-in-out 2.5s;
    -o-transition: all ease-in-out 2.5s;
    transition: all ease-in-out 2.5s;
}
figure {
	height: 100%;
    left: 20%;
}
#icon-zoomin {
    background-image: url(../img/zoomin.png);
}

#icon-zoomout {
    background-image: url(../img/zoomout.png);
}
#zoom {
    position: fixed;
    top: 4%;
    right: 10px;
    width: 30px;
}
#zoom button, #clear button {
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: .6;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
article {
	position: fixed;
	top: 4%;
	left: 2%;
	width: 200px;
	height: 60%;
	font-family: 'Vidaloka', serif;
	font-size: 300%;
}
article h2 {
    font-family: 'Lato', sans-serif;
    font-size: 90%;
    font-weight: lighter;
}
.gmnoprint, .gmnoscreen, .gm-style-cc {
    display: none;
}

footer {
    bottom: -280px;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #fff;
    height: 340px;
    z-index: 700;
    overflow: hidden;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 5px;
    -webkit-transition: bottom ease-in-out 1s;
    -moz-transition: bottom ease-in-out 1s;
    -o-transition: bottom ease-in-out 1s;
    transition: bottom ease-in-out 1s;
}

#logo {
    top: 19px;
    left: 20px;
    width: 48px;
    height: 23px;
    position: absolute;
    background: url(../img/logo.png) no-repeat;
    background-size: 48px auto;
    cursor: pointer;
}

#menu {
    display: block;
    margin: 20px auto 0px auto;
}

#menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu ul li {
    margin: 0px 10px 0px 10px;
    display: inline-block;
}

#menu ul li a {
    color: #a0a0a0;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu ul li a:hover {
    color: #322f31;
    cursor: pointer;
}

#menu ul li a.checked {
    color: rgb(0, 0, 0);
    cursor: default;
}

#content {
    position: absolute;
    z-index: 650;
    width: 100%;
}

#footer {
    position: absolute;
    background-color: #323232;
    color: #787878;
    top: 270px;
    height: 600px;
    width: 100%;
    overflow: hidden;
    -webkit-transition: top ease-in-out 1s;
    -moz-transition: top ease-in-out 1s;
    -o-transition: top ease-in-out 1s;
    transition: top ease-in-out 1s;
}

.content { 
    position: absolute;
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    font-size: 11px;
    -moz-text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.70);
    -webkit-text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.70);
    text-shadow: -1px 1px 1px rgba(0, 0, 0, .70);
    margin: 10px auto;
}

/* About */
#about-text {
    position: absolute;
    margin-top: 40px;
    left: 25%;
    text-align: center;
    width: 50%;
    font-size: 11px;
    color: #322f31;
    letter-spacing: 1px;
    line-height: 20px;
}

#about-footer {
    text-align: left;
    padding-left: 20px;
}

#about-footer a {
    color: #787878;
    text-decoration: none;
}

#about-footer a:hover {
    color: #A0A0A0;
}

/* Client */
#client-text {
    font-size: 11px;
    color: #505050;
    letter-spacing: 1px;
    line-height: 18px;
    position: absolute;
    margin-top: 52px;
    text-align: center;
    width: 100%;
}

#client-footer {
    text-align: left;
    letter-spacing: 1px;
    line-height: 18px;
    width: 483px;
    /*margin: 10px auto;*/
}

.client-title {
    margin: 2px 0px 0px 10px;
}

.client-column-title {
    margin: -10px 0px 10px 10px;
    color: #b4b4b4;
    font-weight: bold;
}

.client-column {
    width: 160px;
    height: 260px;
    float: left;
    border-left: 1px solid #4f4f50;
    padding-top: 10px;
}

/* Contact */
#contact-text {
    position: absolute;
    margin-top: 150px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 22px;
    color: #505050;    
    width: 100%;
    text-transform: uppercase;  
}

#contact-text a {
    color: #b4b4b4;
    text-decoration: none;
}

#contact-text a:hover {
    color: #505050;
}

#contact-image {
    position: absolute;
    margin-left: -30px;
    margin-top: 55px;
    left: 50%;
    width: 61px;
    height: 88px;
	background: url(../img/contact_map_small.jpg) no-repeat;
}

#contact-footer a {
    color: #787878;
    text-decoration: none;
}

#contact-info {
    position: absolute;
    left: 20px;
}

#contact-map {
    position: absolute;
    right: 50px;
}

#contact-map a:hover {
    color: #A0A0A0;
}

#map-marker {
    position: absolute;
    width: 20px;
    height: 27px;
    margin-left: 175px;
    margin-top: -18px;
    background: url(../img/map_marker.png) no-repeat;
}

/*Order*/
#order-content form {
    margin: 30px 30%; 
}

.field, .clear {
    position: relative;
    width: 100%;
    clear: both;
    float: left;
    margin-bottom: 15px;
}

.field input:required, .field textarea:required, .field select:required {
    background: #fff url(../img/required.png) no-repeat 100% 15px;
    outline: none;
    box-shadow: none;
}

.field input, .field textarea, .field select {
    padding: 12px 20px 10px 50px;
    width: calc(100% - 71px);
    float: left;
    color: #333;
    font-size: 12px;
    border: solid 1px #ddd;
}

input, span.icon, .slider-nav a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input, textarea, button {
    margin: 0em;
    font: -webkit-small-control;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

input, textarea, button {
    -webkit-writing-mode: horizontal-tb;
}

input.send {
    display: inline-block;
    background: #50EDD2;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: auto;
    padding: 6px 28px;
    border: none;
    outline: none;
    float: right;
    clear: none;
}

input.send:hover,
input.send:focus {
    border: none;
    outline: none;
    background: #333;
    cursor: pointer;
}

#clear {
    margin-right: 10px;
    display: inline-block;
    float: right;
}

.field span.icon, #clear.icon {
    position: absolute;
    top: 0;
    left: 0;
    background: #ddd;
    width: 38px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .5;
}

#user-icon {
    background-image: url(../img/user.png);
}

#email-icon {
    background-image: url(../img/email.png);
}

#order-icon {
    background-image: url(../img/order.png);
}

#clear-icon {
    background-image: url(../img/clear.png);
}

@media screen and (min-width: 560px) and (max-width: 700px) {
	#logo {
		display: none;
	}
	#about-text {
	    left: 20%;
	    width: 60%;
	}
	#order-content form {
	    margin: 30px 20%; 
	}

}

@media screen and (min-width: 420px) and (max-width: 559px) {
	#logo, #contact-map, #zoom {
		display: none;
	}
	#about-text {
	    left: 10%;
	    width: 80%;
	}
	#order-content form {
	    margin: 30px 20%; 
	}
	#menu ul li {
	    margin: 0px 8px 0px 8px;
	}
	#menu ul li a {
	    font-size: 11px;
        font-weight: 700;
        letter-spacing: 0px;
	}
	.client-column {
		width: 140px;
		font-size: 9px;
	}
}

@media screen and (max-width: 419px) {
	#logo, #contact-map, #zoom {
		display: none;
	}
	#about-text {
	    left: 5%;
	    width: 90%;
	}
	#order-content form {
	    margin: 30px 20%; 
	}
	#menu ul li {
	    margin: 0px 8px 0px 8px;
	}
	#menu ul li a {
	    font-size: 9px;
        font-weight: 700;
        letter-spacing: 0px;
	}
	.client-column {
		width: 120px;
		font-size: 8px;
	}
}

